#title{
  background-color: #FF4C68;
}
.container-fluid{
  padding: 3% 15%;

}
h1{

}
.big-heading{
  font-family: "Montserrat-Bold";
   font-size: 3.5rem;
   line-height: 1.5;
   color: #fff;
}
h3{
  font-family: 'Montserrat-Bold'
  font-size: 3.5rem;
}
h2{
  font-family: "Montserrat-Bold";
  font-size: 3.5rem;
  line-height: 1.5;
}
p{
  color: #8f8f8f;
}
#se{
  background-color: #FF4C68;
}
.one{
  padding-left:10%;
  padding-top: 10%;
  padding-bottom: 30%;
  color:white;
}
.two{
  padding-bottom: 5%;
}
#three{
  transform: rotate(20);
}
body{
  font-family: Montserrat;
}
.title-image{
  width:40%;
  transform: rotate(25deg);
  position: absolute;

}
#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;

}
.feature-box{
  text-align: center;
  padding: 5%;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;

}
.icon:hover{
  color: #FF4C68;
}
#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  widht: 15%;
  margin: 20px 20px 50px;
}
#pricing{
  padding: 100px;
  text-align: center;
}
.col-pricing{
  padding: 2% 3%;
}
#cta{
  background-color:#ff4c68;
  text-align: center;
   padding: 7% 15%;
}
.pad{
  padding-top:20px;
}
#footer{
  text-align: center;
  padding: 7% 15%;

}
.fot{
   padding:2px 4px;
}
#coloring{
  background-color:#ef8172;
}
.colorh{
  color:#fff;
}
.cta-heading{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}
@media (max-width:1028px){
  #title{
    text-align: center;
  }
  .title-image{
    position:static;
    transform: rotate(0);
  }
}
